.slide-with-image {
    display: flex;
    align-items: center;
}

.slide-with-image__image {
    width: 40%;
    height: 40%;
}

.slide-with-image__content {
    margin-left: 40px;
}

.slide-with-only-image {
    display: flex;
    justify-content: center;
}